body {
    background: #fff;
    color:  #020202;
    margin: 0 auto;
    width: 960px;
    line-height: 1.6;
    font-family: "Georgia, Times New Roman, serif";
}

header {
    display: block;
}

header ul.navigation {
    text-align: left;
    float: right;
}

header ul.navigation li {
    display: inline-block;
    list-style: none;
    margin-left: 1em;
}

header ul.navigation li a {
    color: #020202;
    text-decoration: underline;
    font-size: 11px;
}

header ul.navigation li a:hover {
    color: #020202;
}
