<html lang="en">
	<head>
		<title>James Cline {% if page.title %} &mdash; {{ page.title }} {% endif %}</title>
		<link rel="stylesheet" href="/assets/reset.css" type="text/css">
        <link rel="stylesheet" media="screen, project" href="/assets/grid.css" type="text/css">
      <link rel="stylesheet" media="screen, project" href="/assets/screen.css" type="text/css">
		<link rel="stylesheet" media="print" href="/assets/print.css" type="text/css">
	</script>	
	</head>
	<body>
        <div id="menu" class="container_8">
            <ul class="navigation grid_8">
	    	<li><a href="/">Home</li>
                <li><a href="/about/">About</a></li>
                <li><a href="/archives/">Archives</a></li>
            </ul>
            <h1>James Cline</h1>
        </div>
    <div class="clear"></div>
	<div class="wrapper container_8">
		<div class="grid_8">
	   {{ content }}
		</div>
	</div>
    <div class="clear"></div>
	<div class="container_8 footer">
			<div class="grid_8">
				FOOTER!
			</div>
   </div>
	</body>
</html>
