<html lang="en">
	<head>
		<title>James Cline {% if page.title %} &mdash; {{ page.title }} {% endif %}</title>
		<link rel="stylesheet" media="screen, project" href="/assets/screen.css" type="text/css">
		<link rel="stylesheet" media="print" href="/assets/print.css" type="text/css">
		<script type="text/javascript" src="http://use.typekit.com/mgc8iqs.js"></script>
		<script type="text/javascript">
		try {
			Typekit.load();
		} catch(e){}
	</script>	
	</head>
	<body>
        <div id="header">
            <a href="/"><img class="branding" src="/assets/logo.png"></a>
            <ul class="navigation">
                <li><a href="/about/">About Me</a></li>
                <li><a href="/archives/">Archives</a></li>
            </ul>
        </div>
	<div class="wrapper content">
	   {{ content }}
	</div>
        <div class="footer">
        </div>
	</body>
</html>
