<html lang="en">
	<head>
		<title>James Cline {% if page.title %} &mdash; {{ page.title }} {% endif %}</title>
		<link rel="stylesheet" media="screen, project" href="/assets/screen.css" type="text/css">
		<link rel="stylesheet" media="print" href="/assets/print.css" type="text/css">
	</head>
	<body>
        <div class="header">
            <div class="branding">
                <h1>James Cline</h1>
            </div>
            <ul class="navigation">
                <li><a href="/about/">About Me</a></li>
                <li><a href="/archives/">Archives</a></li>
            </ul>
        </div>
		<div class="wrapper content">
		{{ content }}
		</div>
        <div class="footer">
        </div>
	</body>
</html>
